/Makefile.am
/arg-nonnull.h
/argmatch.c
/argmatch.h
/assure.h
/c++defs.h
/charset.alias
/configmake.h
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/config.charset
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/getopt.c
/getopt.h
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/human.c
/human.h
/intprops.h
/inttypes.h
/inttypes.in.h
/locale.h
/localcharset.c
/localcharset.h
/locale.in.h
/localeconv.c
/mbrtowc.c
/mbsinit.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/quote.h
/quotearg.c
/quotearg.h
/ref-add.sin
/ref-add.sed
/ref-del.sed
/ref-del.sin
/stddef.h
/stdio.h
/stdlib.h
/string.h
/sys/
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdlib.in.h
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/strtoimax.c
/strtol.c
/strtoul.c
/strtoull.c
/strtoumax.c
/sys_types.in.h
/unistd.c
/unistd.in.h
/unistd.h
/verify.h
/wchar.in.h
/wctype-h.c
/wctype.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/xstrtol-error.c
/xstrtol.c
/xstrtol.h
/xstrtoul.c
/xstrtoumax.c
/warn-on-use.h
/wchar.h
/wctype.h
